<%- include("header") %>
        <!-- In video, this <main> element is wrongly called: <section class="overview">. So in pug template, please use main.main instead of section.overview -->
        <main class="main">
            <div class="card-container">
                <% for(let i=0; i<tours.length; i++) {%>
                    <%- include("tourCardTemplate", tour = tours[i]); %>
                <% }%>
            </div>
        </main>

        <%- include("footer") %>